<div class="comforTime-footer__container">
    <div class="comforTime-footer__row">

        <!-- <div class="footer-social-container">
            <div class="comforTime-footer__icon hover-white">
                <a href="https://www.facebook.com" target="_blank">
                    <i class="facebook" class="fab fa-facebook-square" aria-hidden="true"></i>
                </a>
            </div>
            <div class="comforTime-footer__icon hover-white">
                <a href="https://www.twitter.com" target="_blank">
                    <i class="fab fa-twitter" aria-hidden="true"></i>
                </a>
            </div>
            <div class="comforTime-footer__icon hover-white">
                <a href="https://it.linkedin.com/" target="_blank">
                    <i class="fab fa-linkedin" aria-hidden="true"></i>
                </a>
            </div>
            <div class="comforTime-footer__icon hover-white">
                <a href="https://www.instagram.com/" target="_blank">
                    <i class="fab fa-instagram" aria-hidden="true"></i>
                </a>
            </div>
        </div> -->
        <div class="container-icon">
            <div class="fb ">
                <a class="icona" href="https://www.facebook.com" target="_blank">
                    <i class="facebook" class="fab fa-facebook-square" aria-hidden="true"></i>
                </a>
            </div>
            <div class="linkedin ">
                <a class="icona" href="https://it.linkedin.com/" target="_blank">
                    <i class="fab fa-linkedin" aria-hidden="true"></i>
                </a>
            </div>
            <div class="twitter ">
                <a class="icona" href="https://www.twitter.com" target="_blank">
                    <i class="fab fa-twitter" aria-hidden="true"></i>
                </a>
            </div>
            <div class="insta ">
                <a class="icona" href="https://www.instagram.com/" target="_blank">
                    <i class="fab fa-instagram" aria-hidden="true"></i>
                </a>
            </div>
            <div class="logout icona">
                <i class="fa-solid fa-right-from-bracket" (click)="logout()"></i>
            </div>
        </div>
        <div class="blue-team-copyright-test">
            <p>Powered by - Blue Team&reg; {{ currentYear }}</p>
        </div>


    </div>
</div>