<div class="Ct-menu__container">
	<div class="Ct-menu-row__container">
		<div class="Ct-menu__content">
			<form class="Ct-form__login">
				<h4>Registrati!</h4>
				<div class="Ct-login__field">
					<input type="text" class="Ct-login__input" placeholder="User name / Email">
				</div>
				<div class="Ct-login__field">
					<input type="password" class="Ct-login__input" placeholder="Password">
				</div>
				<div>
						<button class="button login__submit">
					<span class="button__text">Log In Now</span>
					<i class="button__icon fas fa-chevron-right"></i>
				</button>
				</div>
				
							
			</form>
			
		</div>
		<div>
					<button class="login__submit_google" (click)="login()">
					<span class="button__text">Entra con Google</span>
					<i class="button__icon fas fa-chevron-right"></i>
				</button>
				</div>
	</div>
</div>
